<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome page</title>
    <meta http-equiv="c" content="Content_type" content="text/html"; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.2">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css')}}">
</head>
<body>


<div class="wrapper">
    <div class="page">
        <div class="header">WELCOME TO MY PAGE</div>
        <div class="content">Max M. Steiner</div>
     
    <div class="transform-border">
        <img src="static/images/IMG-3868-Face.jpg"></div>   
        
    
    <div>
    <p>
    <u1>
        <a href="about.html">About me</a>
        <a href="works.html">My art works</a>
        <a href="music.html">Music</a>
        <a href="mailto:steinermax2019@gmail.com">Write me a letter</a>
    </ul>
    </p>
    </div>

    <div class="footer">
        <p>&copy; All rights reserved</p>
        <p>This site belongs to Max M. Steiner.</p>
        <div><p>The author of the site is not responsible for your health.</p>
    </div>
</div>

  
</body>
</html>